{{> header}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Gigs</h1>
        </div>
        <div class="col-md-9">
            {{#each gigs}}
            <div class="panel gig collapsed">
                <div class="panel-heading">
                    <h3 class="panel-title">{{dateFormat date 'D MMMM YYYY'}} - {{venue.name}}</h3>
                    <div class="confirmed">
                        {{#if confirmed}}
                        <span class="label label-success">Bevestigd</span>
                        {{else}}
                        <span class="label label-warning">Nog niet bevestigd</span>
                        {{/if}}
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>Adres</h5>
                            <p>{{{whitespaceToBr venue.address}}}</p>
                        </div>
                        <div class="col-sm-6">
                            <h5>Tijden</h5>
                            <p>{{{whitespaceToBr times}}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>Backline</h5>
                            <p>{{{whitespaceToBr backline}}}</p>
                        </div>
                        <div class="col-sm-6">
                            <h5>Opmerkingen</h5>
                            <p>{{{whitespaceToBr comments}}}</p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="chevron"><span class="glyphicon glyphicon-chevron-down"></span></div>
                        </div>
                        <div class="col-md-6 edit-buttons">
                            <button class="btn pull-right btn-sm btn-danger btn-delete" data-id="{{_id}}">Verwijderen</button>
                            <button class="btn pull-right btn-sm btn-default" data-toggle="modal" data-target="#editModal_{{_id}}">Aanpassen</button>
                            <div class="clearfix"></div>
                            {{> gigForm edit=true gig=@this}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-md-3 new-gig">
            <form class="form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Zoeken naar...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </form>
            <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#newGigModal"><span class="glyphicon glyphicon-plus"></span> Nieuwe gig</button>
            <p>Vet man, nieuwe gigs inplannen, you rock!</p>
            <hr>
            {{#each settings.links}}
                <p><a href="{{url}}">{{title}}</a></p>
            {{/each}}
        </div>
    </div>
</div>

{{> gigForm}}
